nav{
	display: inline-block;
	float: right;
    margin: 20px 40px 20px 0;
}

nav a{
	text-decoration: none;
	color: #000;
	margin: 0 5px;
}

nav a img{
	border-radius: 100%;
	display: inline-block;
}

#google-logo img {
	clear: both;
	display: block;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 0px;
}

form {
	width: 50%;
	margin: 0 auto;
}

form .button{
	box-shadow: 0px 3px 3px 0px #848587;
}

#searchBar {
    height: 25px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

#searchButton{
	height: 30px;
    width: 50%
    padding: 5px;
    margin-top: 20px;
    margin-left: 50px;
}

#feelingLucky{
	height: 30px;
	width: 50%;
	padding: 5px;
	margin-top: 20px;
	margin-left: 10px;
}

.footer{
	background-color: #efefef;
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
	padding: 15px;}

#left-footer,#right-footer{
	display: inline-block;
}

#left-footer a,#right-footer a{
	text-decoration: none;
	color: #000;
	margin: 0 5px;
}

#left-footer{
	float: left;
}

#right-footer{
	float: right;
}